body {
    font-family: 'Unica One', sans-serif;
    background-color: #121212;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

.panel {
    background-color: #1E1E1E;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
}

#totalEthSupply {
    font-size: 2em;
}

#chart-container {
    width: 80%;
    margin: auto;
}

h1 {
    color: #FFFFFF;
}

#eth-total, #eth-djt, #eth-percentage {
    margin: 10px 0;
}

#eth-total span, #eth-djt span, #eth-percentage span {
    font-weight: bold;
}
